# 配置npm仓库地址
registry=http://172.30.31.77:8081/repository/npm-public/
# electron二进制文件下载地址
electron_mirror=http://172.30.31.77:8080/uploadfiles/electron/
# electron_builder二进制文件下载地址
electron_builder_binaries_mirror=http://172.30.31.77:8080/uploadfiles/electron_builder/

# sass_binary_site = https://npm.taobao.org/mirrors/node-sass/
# phantomjs_cdnurl = http://cnpmjs.org/downloads
# electron_mirror = https://npm.taobao.org/mirrors/electron/
# sqlite3_binary_host_mirror = https://foxgis.oss-cn-shanghai.aliyuncs.com/
# profiler_binary_host_mirror = https://npm.taobao.org/mirrors/node-inspector/
# chromedriver_cdnurl = https://cdn.npm.taobao.org/dist/chromedriver
