$defult-color: #4B98CF;
$disable-color: #6c757d;
$success-color: #4EB4A5;
$danger-color: #dc3545;
$warning-color: #E3AA75;
$info-color: #4B98CF;
$light-border-color: #DCE0E2;
$dark-color: #1A3142;

.ant-table{
  .ant-table-content{
    .ant-table-body{
      .ant-table-tbody{
        .ant-table-row{
          td{
            padding: 9px 11px;
            .ant-btn{
              padding: 0 12px;
              height: 29px;
              border-radius: 5px;
              span{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

.ant-table-body-outer{
  .ant-table-fixed{
    .ant-table-tbody{
      tr{
        td{
          padding: 9px 11px;
          .ant-btn{
            padding: 0 12px;
            height: 29px;
            span{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}