$linx-red-theme: #B11721;
$linx-red-theme-rgb: rgba($color: $linx-red-theme, $alpha: 0.2);
$linx-red-disable-color: #6c757d;
$linx-red-success-color: #4EB4A5;
$linx-red-danger-color: #dc3545;
$linx-red-warning-color: #E3AA75;
$linx-red-info-color: #4B98CF;
$linx-red-light-border-color: #DCE0E2;
$linx-red-dark-color: #1A3142;
$linx-red-gray-color:#909399;
$linx-red-theme-rgb1: rgba($color: $linx-red-theme, $alpha: 0.05);

body[data-theme='red'] {
  .info{
      color: $linx-red-info-color !important;
    }
  .warning{
    color: $linx-red-warning-color !important;
  }
  .danger{
    color: $linx-red-danger-color !important;
  }
  .success{
    color: $linx-red-success-color !important;
  }
  .primary {
    color: rgba($color: #1890ff, $alpha: 0.7) !important;
  }
  .gray {
    color: $linx-red-gray-color;
  }
  .warning-small{
    color: $linx-red-warning-color;
    font-size: 12px;
  }

.ant-btn {
    &:active{
      color: $linx-red-theme;
      border-color: $linx-red-theme;
    }
    border-radius: 20px;
    &:hover{
      border-color: $linx-red-theme;
      color: $linx-red-theme;
    }
    &[disabled] {
      background-color: #f5f5f5 !important;
      border-color: #d9d9d9 !important;
      &:hover{
        color:rgba(0, 0, 0, 0.25)!important;
      }
    }
    &.ant-btn-primary{
      background-color: $linx-red-theme;
      border-color: $linx-red-theme;
      &:hover{
        color: #fff;
      }
    }
    &.ant-btn-danger{
      background-color: $linx-red-danger-color;
      border-color: $linx-red-danger-color;
      &:hover{
        color: #fff;
      }
    }
    &.ant-btn-link{
      &[disabled] {
        background-color: transparent !important;
        border-color: transparent !important;
        &:hover{
          span{
            color: $linx-red-dark-color !important;
          }
        }
      }
      color: $linx-red-dark-color;
      &:hover{
        border-color: transparent;
        span{
          color: $linx-red-theme;
        }
      }
    }
  } 

  .ant-radio-group{
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
      background-color: $linx-red-theme;
    }
    span {
      color: $linx-red-theme;
    }
    .ant-radio-button-wrapper:first-child{
      border-radius: 20px 0 0 20px;
    }
    .ant-radio-button-wrapper:last-child{
      border-radius: 0 20px 20px 0;
    }
    .ant-radio-button-wrapper-checked {
      border: 1px solid $linx-red-theme;
    }
  }

.ant-tag{
    &.info{
      background-color: #fff !important;
      border-color: $linx-red-light-border-color;
    }
    &.success{
      background-color: $linx-red-success-color;
      border-color: $linx-red-success-color;
      color: #fff !important;
    }
    &.danger{
      background-color: $linx-red-danger-color;
      border-color: $linx-red-danger-color;
      color: #fff !important;
    }
    &.warning{
      background-color: $linx-red-warning-color;
      border-color: $linx-red-warning-color;
      color: #fff !important;
    }
    &.gray {
      background-color: $linx-red-gray-color;
      border-color: $linx-red-gray-color;
      color: #fff !important;
    }
    &.dark {
      background-color: $linx-red-dark-color;
      border-color: $linx-red-dark-color;
      color: #fff !important;
    }
  }
  
  .ant-layout-sider{
      border-right: 1px solid rgba($color: #eee, $alpha: 0.1);
      background: url('../assets/images/linx-red/sider-bg.png');
      .side-menu {
          background: url('../assets/images/linx-red/sider-bg.png');
      }
  }
  .side-menu{
    .ant-menu-submenu{
        margin: 15px 0;
      .ant-menu{
        .ant-menu-item{
            margin: 0;
          &.ant-menu-item-selected{
            background-color: $linx-red-theme;
          }
        }
      }
    }
  }
  .ant-menu-item{
      &.ant-menu-item-selected{
        background-color: $linx-red-theme;
        &::after{
          background-color: #000;
        }
      }
  }
  .ant-menu-submenu-popup {
    &.ant-menu-dark {
      .ant-menu-item-selected {
        background-color: $linx-red-theme;
      }
    }
  }
  
  .ant-table {
    .ant-table-header {
        thead {
          tr {
            th {
              background: $linx-red-theme-rgb;
              font-weight: bold;
              border-right: 1px solid #dcdfe6;
              &:hover {
                background: $linx-red-theme-rgb;
              }
            }
          }
        }
    }
    .ant-table-body {
        tbody {
          tr {
            th {
              border-right: 1px solid #dcdfe6;
            }
          }
        }
    }
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background-color: $linx-red-theme-rgb1;
  }
  .ant-table{
    .ant-table-content{
      thead{
        tr{
          th{
            background-color: $linx-red-theme-rgb !important;
          }
        }
      }
        tbody{
          tr{
            td:last-child{
              .ant-btn.ant-btn-link{
                margin-right: 0;
                &[disabled]{
                  i{
                    color: $linx-red-gray-color;
                  }
                }
              }
              i{
                font-size: 18px;
                color: $linx-red-info-color;
              }
            }
          }
        }
    }
  }

}
