$linx-red-theme: #B11721;
$linx-red-theme-rgb: rgba($color: $linx-red-theme, $alpha: 0.2);
$linx-red-disable-color: #6c757d;
$linx-red-success-color: #4EB4A5;
$linx-red-danger-color: #dc3545;
$linx-red-warning-color: #E3AA75;
$linx-red-info-color: #4B98CF;
$linx-red-light-border-color: #DCE0E2;
$linx-red-dark-color: #1A3142;
$linx-red-gray-color:#909399;
$linx-red-theme-rgb1: rgba($color: $linx-red-theme, $alpha: 0.05);