$linx-red-theme: #B11721;
$linx-red-theme-rgb: rgba($color: $linx-red-theme, $alpha: 0.2);
$linx-red-disable-color: #6c757d;
$linx-red-success-color: #4EB4A5;
$linx-red-danger-color: #dc3545;
$linx-red-warning-color: #E3AA75;
$linx-red-info-color: #4B98CF;
$linx-red-light-border-color: #DCE0E2;
$linx-red-dark-color: #1A3142;
$linx-red-gray-color:#909399;
$linx-red-theme-rgb1: rgba($color: $linx-red-theme, $alpha: 0.05);

body[data-theme='red'] {
  .info{
      color: $linx-red-info-color !important;
    }
  .warning{
    color: $linx-red-warning-color !important;
  }
  .danger{
    color: $linx-red-danger-color !important;
  }
  .success{
    color: $linx-red-success-color !important;
  }
  .primary {
    color: rgba($color: #1890ff, $alpha: 0.7) !important;
  }
  .gray {
    color: $linx-red-gray-color;
  }
  .warning-small{
    color: $linx-red-warning-color;
    font-size: 12px;
  }

.ant-btn {
    &:active{
      color: $linx-red-theme;
      border-color: $linx-red-theme;
    }
    border-radius: 20px;
    &:hover{
      border-color: $linx-red-theme;
      color: $linx-red-theme;
    }
    &[disabled] {
      background-color: #f5f5f5 !important;
      border-color: #d9d9d9 !important;
      &:hover{
        color:rgba(0, 0, 0, 0.25)!important;
      }
    }
    &.ant-btn-primary{
      background-color: $linx-red-theme;
      border-color: $linx-red-theme;
      &:hover{
        color: #fff;
      }
    }
    &.ant-btn-danger{
      background-color: $linx-red-danger-color;
      border-color: $linx-red-danger-color;
      &:hover{
        color: #fff;
      }
    }
    &.ant-btn-link{
      &[disabled] {
        background-color: transparent !important;
        border-color: transparent !important;
        &:hover{
          span{
            color: $linx-red-dark-color !important;
          }
        }
      }
      color: $linx-red-dark-color;
      &:hover{
        border-color: transparent;
        span{
          color: $linx-red-theme;
        }
      }
    }
  } 

  .ant-radio-group{
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
      background-color: $linx-red-theme;
    }
    span {
      color: $linx-red-theme;
    }
    .ant-radio-button-wrapper:first-child{
      border-radius: 20px 0 0 20px;
    }
    .ant-radio-button-wrapper:last-child{
      border-radius: 0 20px 20px 0;
    }
    .ant-radio-button-wrapper-checked {
      border: 1px solid $linx-red-theme;
    }
  }

.ant-tag{
    &.info{
      background-color: #fff !important;
      border-color: $linx-red-light-border-color;
    }
    &.success{
      background-color: $linx-red-success-color;
      border-color: $linx-red-success-color;
      color: #fff !important;
    }
    &.danger{
      background-color: $linx-red-danger-color;
      border-color: $linx-red-danger-color;
      color: #fff !important;
    }
    &.warning{
      background-color: $linx-red-warning-color;
      border-color: $linx-red-warning-color;
      color: #fff !important;
    }
    &.gray {
      background-color: $linx-red-gray-color;
      border-color: $linx-red-gray-color;
      color: #fff !important;
    }
    &.dark {
      background-color: $linx-red-dark-color;
      border-color: $linx-red-dark-color;
      color: #fff !important;
    }
  }
  
  .ant-layout-sider{
      border-right: 1px solid rgba($color: #eee, $alpha: 0.1);
      background: url('../assets/images/linx-red/sider-bg.png');
      .side-menu {
          background: url('../assets/images/linx-red/sider-bg.png');
      }
  }
  .side-menu{
    .ant-menu-submenu{
        margin: 15px 0;
      .ant-menu{
        .ant-menu-item{
            margin: 0;
          &.ant-menu-item-selected{
            background-color: $linx-red-theme;
          }
        }
      }
    }
  }
  .ant-menu-item{
      &.ant-menu-item-selected{
        background-color: $linx-red-theme;
        &::after{
          background-color: #000;
        }
      }
  }
  .ant-menu-submenu-popup {
    &.ant-menu-dark {
      .ant-menu-item-selected {
        background-color: $linx-red-theme;
      }
    }
  }
  
  .ant-table {
    .ant-table-header {
        thead {
          tr {
            th {
              background: $linx-red-theme-rgb;
              font-weight: bold;
              border-right: 1px solid #dcdfe6;
              &:hover {
                background: $linx-red-theme-rgb;
              }
            }
          }
        }
    }
    .ant-table-body {
        tbody {
          tr {
            th {
              border-right: 1px solid #dcdfe6;
            }
          }
        }
    }
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background-color: $linx-red-theme-rgb1;
  }
  .ant-table{
    .ant-table-content{
      thead{
        tr{
          th{
            background-color: $linx-red-theme-rgb !important;
          }
        }
      }
        tbody{
          tr{
            td:last-child{
              .ant-btn.ant-btn-link{
                margin-right: 0;
                &[disabled]{
                  i{
                    color: $linx-red-gray-color;
                  }
                }
              }
              i{
                font-size: 18px;
                color: $linx-red-info-color;
              }
            }
          }
        }
    }
  }

  .ant-pagination{
    .ant-pagination-item-link {
      border-radius: 20px;
      &:hover {
        border-color: $linx-red-theme;
      }
    }
    .ant-pagination-item,.ant-pagination-prev,.ant-pagination-next{
      border-radius: 20px;
      &:hover{
        border-color: $linx-red-theme;
      }
      a{
        &:hover{
          color: $linx-red-theme;
        }
      }
    }
    .ant-pagination-item-active{
        border-color: $linx-red-theme;
        a{
          color: $linx-red-theme;
        }
    }
    .ant-select-selection {
      border-radius: 20px;
      &:hover{
        border-color: $linx-red-theme;
      }
    }
  }

  .ant-input{
    border-radius: 20px;
    &:hover{
      border-color: $linx-red-theme;
    }
    &:focus{
      border-color: $linx-red-theme;
      box-shadow: 0 0 0 2px $linx-red-theme-rgb;
    }
  }
  .ant-input-number{
    border-radius: 20px;
    &:hover{
      border-color: $linx-red-theme;
    }
    &:focus{
      border-color: $linx-red-theme;
      box-shadow: 0 0 0 2px $linx-red-theme-rgb;
    }
    .ant-input-number-handler-wrap{
      border-radius: 0 20px 20px 0;
    }
  }

  .ant-select-selection{
    border-radius: 20px;
  }
  .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
    border-color: $linx-red-theme !important;
      box-shadow: none;
  }
  .ant-form-item-control{
    .ant-select-selection {
      border-radius: 20px !important;
      &:hover {
        border-color: $linx-red-theme;
        box-shadow: 0 0 0 2px $linx-red-theme-rgb;
      }
    }
    &.has-error{
      .ant-input{
        border-color: $linx-red-danger-color;
        &:hover{
          border-color: $linx-red-danger-color;
        }
        &:focus{
          border-color: $linx-red-danger-color;
        }
      }
    }
  }

  .ant-switch{
    &.ant-switch-checked{
      background-color: $linx-red-theme;
    }
  }
  .header-text{
    &:hover{
      color: $linx-red-theme;
    }
  }

  .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled){
    border-color: $linx-red-theme;
  }
  .ant-calendar{
    .ant-calendar-date{
        &:hover{
            background-color: $linx-red-theme-rgb;
        }
    }
    .ant-calendar-date-panel{
      .ant-calendar-selected-day{
        .ant-calendar-date{
          background-color: $linx-red-theme;
        }
      }
      .ant-calendar-today{
        .ant-calendar-date{
          color: $linx-red-theme;
          border-color: $linx-red-theme;
        }
        &.ant-calendar-selected-day{
          .ant-calendar-date{
            color: #fff;
            border-color: $linx-red-theme;
          }
        }
      }
    }
    .ant-calendar-footer-btn{
      .ant-calendar-time-picker-btn{
        color: $linx-red-theme;
        &.ant-calendar-time-picker-btn-disabled{
          color: rgba(0, 0, 0, 0.25);
          &:hover{
            cursor: not-allowed;
          }
        }
      }
      .ant-calendar-ok-btn{
        background-color: $linx-red-theme;
        border-color: $linx-red-theme;
        &.ant-calendar-ok-btn-disabled{
          color: rgba(0, 0, 0, 0.25);
          background-color: #f5f5f5;
          border-color: #d9d9d9;
          &:hover{
            cursor: not-allowed;
          }
        }
      }
    }
    .ant-calendar-time-picker-select{
      li{
        &:hover{
          background: $linx-red-theme-rgb;
        }
      }
    }
    .ant-btn{
      &.isActive{
        color: $linx-red-theme;
        border-color: $linx-red-theme;
      }
    }
  }
  .ant-calendar-range .ant-calendar-in-range-cell::before{
    background: $linx-red-theme-rgb;
  }

  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        .ant-drawer-header {
          background: $linx-red-theme;
          .ant-drawer-title {
            color: #ffffff;
          }
          & button {
            color: #ffffff;
          }
        }
      }
    }
  }
.drawerFooter {
    border-color: $linx-red-theme;
    background: #ffffff;
  }

.layout-content{
  background: url('../assets/images/linx-red/login-bg-red.jpg') no-repeat;
  .wrap{
      background: rgba($color: #fff, $alpha: 0.8);
      overflow-y: scroll;
      box-shadow: 5px 3px 0px rgba($color: #777, $alpha: 1);
      .filter{
        border-color: $linx-red-theme;
      }
  }
}

.app-header{
.ant-tabs {
  .ant-tabs-nav-wrap{
    .ant-tabs-tab{
        background: rgba($color: #fff, $alpha: 0);
        color: #fff;
        border-color: rgba($color: #fff, $alpha: 0.5);
        i{
          color: #fff;
        }
        i{
          &:hover{
              color: $linx-red-theme;
          }
        }
      &:hover{
        color: $linx-red-theme;
        i{
          color: $linx-red-theme;
        }
      }
      &.ant-tabs-tab-active{
        color: $linx-red-theme;
        background: rgba($color: #fff, $alpha: 0.85);
        i{
          color: $linx-red-theme;
        }
      }
    }
  }
}
  background: url('../assets/images/linx-red/navbar-bg.png');
  i{
      color: #fff;
  }
  .user-header{
      span{
          color: #fff;
          &:hover{
              color: $linx-red-theme;
          }
      }
  }
.trigger{
  &:hover{
      color: $linx-red-theme;
  }
}
}
}
