body{
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        padding-top: 55px;
        .ant-drawer-header {
          width: 100%;
          position: absolute;
          top: 0;
          z-index: 1;
          border-radius: 0px;
        }
        .ant-drawer-body {
          box-sizing: border-box;
          padding: 30px 20px 0 20px;
          overflow: auto;
        }
      }
    }
  }
  .nodeManager {
    &.ant-drawer{
      .ant-drawer-content-wrapper {
        .ant-drawer-content {
          .ant-drawer-wrapper-body {
            padding-top: 55px;
            .ant-drawer-header {
              width: 100%;
              position: absolute;
              top: 0;
              z-index: 1;
              border-radius: 0px;
            }
            .ant-drawer-body {
              box-sizing: border-box;
              padding: 0;
              overflow: auto;
            }
          }
        }
      }
      .layout-content{
        background: #fff;
      }
      .ant-layout-sider{
        background: #fff;
      }
      .ant-menu-item.ant-menu-item-selected{
        background: #e6f7ff;
      }
    }
  }
  .drawerFooter {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
    padding: 10px 16px;
    text-align: right;
    z-index: 1;
  }
  .layout-content{
    background-size: cover;
    .wrap{
        height: 100%;
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        overflow: hidden !important;
        .filter{
          padding: 15px 0 15px 10px;
          border-bottom: 1px solid;
        }
    }
  }
}