body{
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        padding-top: 55px;
        .ant-drawer-header {
          width: 100%;
          position: absolute;
          top: 0;
          z-index: 1;
          border-radius: 0px;
        }
        .ant-drawer-body {
          box-sizing: border-box;
          padding: 30px 20px 0 20px;
          overflow: auto;
        }
      }
    }
  }
  .nodeManager {
    &.ant-drawer{
      .ant-drawer-content-wrapper {
        .ant-drawer-content {
          .ant-drawer-wrapper-body {
            padding-top: 55px;
            .ant-drawer-header {
              width: 100%;
              position: absolute;
              top: 0;
              z-index: 1;
              border-radius: 0px;
            }
            .ant-drawer-body {
              box-sizing: border-box;
              padding: 0;
              overflow: auto;
            }
          }
        }
      }
      .layout-content{
        background: #fff;
      }
      .ant-layout-sider{
        background: #fff;
      }
      .ant-menu-item.ant-menu-item-selected{
        background: #e6f7ff;
      }
    }
  }
  .drawerFooter {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
    padding: 10px 16px;
    text-align: right;
    z-index: 1;
  }
  .layout-content{
    background-size: cover;
    .wrap{
        height: 100%;
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        overflow: hidden !important;
        .filter{
          padding: 15px 0 15px 10px;
          border-bottom: 1px solid;
        }
    }
  }
  .app-header{
    border-color: rgba($color: #fff, $alpha: 0.8) !important;
    .ant-tabs {
      .ant-tabs-bar{
          border: none;
          margin-bottom: 10px;
      }
      .ant-tabs-nav-wrap{
        .ant-tabs-tab{
            border-radius: 0;
            padding: 0 25px 0 5px;
            border: 1px solid ;
            font-size: 13px;
            letter-spacing: 1px;
            margin-right: 5px;
            line-height: 40px;
            i.anticon-close{
              position: absolute;
              right: 10px;
              top: 12.5px;
              font-size: 14px; 
            }
            .ant-btn{
              margin: 0 !important;
              padding: 0 5px 0 0;
              i{
                margin: 0;
                vertical-align: -2px;
              }
            }
        }
      }
    }
    background-size: cover;
    border-bottom: 1px solid #ffffff;
    .user-header{
      .header-text {
        i{
          margin-right: 5px;
          font-size: 15px;
        }
      }
      .ant-badge{
        margin-right: 0;
      }
    }
  }
  .ant-input-wrapper{
    .ant-input-group-addon{
      border-radius: 0 20px 20px 0;
    }
  }
}
.ant-form{
  .ant-form-item{
    .ant-form-item-label{
      text-align: center;
    }
  }
}
.ant-tabs{
  &.ant-tabs-left{
    .ant-tabs-tab{
      text-align: center;
    }
  }
}
  .ant-table {
    .ant-table-header {
        thead {
          tr {
            th {
              padding: 14px 16px;
            }
          }
        }
    }
  }

  .side-menu{
  .ant-menu-item{
    span{
      transition: all .5s;
      position: relative;
      &::after{
        content: '';
        height: 1px;
        width: 0px;
        transition: all .75s;
        background: #fff;
        left: -15px;
        top: 50%;
        position: absolute;
      }
    }
    &:hover{
      span{
        margin-left: 12px;
        &::after{
          width: 8px;
        }
      }
    }
    color: #e0e0e0;
      margin: 0;
      display: flex;
      align-items: center;
      span{
        font-size: 15px;
        height: 40px;
        line-height: 41px;
      }
    &.ant-menu-item-selected{
      position: relative;
      &::after{
        content: '';
        height: 0px;
        border-radius: 50%;
        width: 5px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        filter: drop-shadow(0 0 15px #000);
      }
    }
  }
  .ant-menu-submenu {
    color: #eee;
    span{
      span{
      transition: all 0.5s;
      position: relative;
      &::after{
        content: '';
        height: 1px;
        width: 0px;
        background: #fff;
        left: -15px;
        top: 50%;
        position: absolute;
      transition: all 0.75s;
      }
      }
    }
    &:hover{
      span{
        span{
          margin-left: 12px;
          &::after{
            width: 8px;
          }
        }
      }
    }

  }
}