body{
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        padding-top: 55px;
        .ant-drawer-header {
          width: 100%;
          position: absolute;
          top: 0;
          z-index: 1;
          border-radius: 0px;
        }
        .ant-drawer-body {
          box-sizing: border-box;
          padding: 30px 20px 0 20px;
          overflow: auto;
        }
      }
    }
  }
}